@import url('https://fonts.cdnfonts.com/css/noteworthy');

html,
body {
  margin: 0;
  background-image: url('/background.png');
  background-position: left top;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: relative;
}

.footer__image {
  margin-top: 16px;
}

.footer::after {
  position: absolute;
  top: -14px;
  right: 40%;
  transform: rotate(-1deg);
  z-index: -1;
  background-color: #3e4137;
  width: 1197px;
  height: 251px;
  content: '';
}

.footer::before {
  position: absolute;
  top: -4px;
  left: 40%;
  transform: rotate(-1deg);
  z-index: -1;

  background-color: #3e4137;
  width: 1174px;
  height: 202px;
  content: '';
}

.footer__merch {
  position: absolute;
  z-index: 200;
}

@media (max-width: 1200px) {
  .footer::after {
    display: none;
  }

  .footer::before {
    top: -16px;
    left: -161px;
  }
}

/* @TODO */
.slick-list {
  overflow: visible !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots li button::before {
  color: #fff !important;
}
.slick-slide {
  margin-right: 10px;
}
